/**
 * ============================================================================
 * File: app-styles.css
 * Description: Stylesheet for specific applications and files within the
 *              project. This file contains custom styles tailored to
 *              individual apps and components, organized by their
 *              respective directories.
 * Author: JohnF
 * Created: 2024-08-27 11:21:00
 * Updated: 2024-08-27 16:49:37
 * Version: 1.1
 * 
 * Usage Notes:
 * - This file is for custom styles unique to specific apps or files
 *   within the project. It should not be used for global styles.
 * - Ensure styles are grouped and clearly labeled by app/component for
 *   ease of navigation and maintenance.
 * - For styles meant to be reused across multiple apps, consider placing
 *   them in groundwork.css or another shared stylesheet.
 * 
 * ============================================================================
 */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400;700&family=Montserrat:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap");

/* Base Settings */
html {
  font-size: 62.5%; /* 1rem = 1.125rem */
}

body {
  font-family: "Literata", serif;
  font-size: 1.5rem; /* 1.5rem */
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(231, 231, 231);
  box-sizing: border-box;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 155, 13);
}

h1 {
  font-size: 3.553rem; /* 35.53px */
  margin-bottom: 1.999rem;
}

h2 {
  font-size: 2.665rem; /* 26.60.475rem */
  margin-top: 3.553rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.999rem; /* 19.99px */
  margin-top: 2.665rem;
  margin-bottom: 1.125rem;
  color: rgb(0, 94, 16);
}

.h1 {
  font-size: 3.553rem; /* 35.53px */
}

.h2 {
  font-size: 2.665rem; /* 26.60.475rem */
}

.h3 {
  font-size: 1.999rem; /* 19.99px */
}

/* Paragraphs */
p {
  margin-bottom: 1.999rem;
}

/* Lists */
ul,
ol {
  margin-bottom: 1.999rem;
  padding-left: 1.999rem;
}

li {
  margin-bottom: 1.125rem;
}

/* Code and Preformatted Text */
pre,
code {
  font-family: "Source Code Pro", monospace;
}

pre {
  background-color: rgba(255, 211, 211, 0.576);
  padding: 1.5rem;
  border-radius: 0.475rem;
  overflow-x: auto;
}

code {
  color: rgb(214, 51, 132);
}

/* Card Container */
.card-container {
  max-width: calc(100% - 12em);
  height: auto;
  margin: 3em auto;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  background-color: white;
  border-radius: 8px;
}

.card-container > * > h2 {
  margin: 0;
}

/* Styles for book listings */
.book {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-flex {
  display: flex;
  align-items: center;
}
.book img {
  width: 100px;
  max-width: 100%;
  height: auto;
  margin-right: 1.5rem;
  border-radius: 4px;
  border: 1px solid rgb(151, 151, 151);
}

.form {
  background-color: rgb(230, 253, 255);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: auto;
}
.form__title {
  color: rgb(0, 155, 13);
  text-align: center;
}
.form__field {
  margin-bottom: 15px;
}
.form__label {
  display: block;
  margin-bottom: 5px;
}
.form__input {
  width: 96%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  font-family: "Literata", serif;
  font-size: 1.5rem;
}
.form__buttons {
  text-align: center;
}
.form__button {
  background-color: rgb(0, 155, 13);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}
.form__button:hover {
  background-color: rgb(0, 94, 16);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card-container {
    max-width: calc(100% - 8em);
    margin: 2em auto;
    padding: 1.5em;
  }
  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 1.999rem;
  }
  .book-flex {
    flex-direction: column;
    text-align: center;
  }
  .book img {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 80px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .card-container {
    max-width: calc(100% - 4em);
    margin: 1em auto;
    padding: 1em;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .book img {
    width: 60px;
    max-width: 100%;
  }
}
