/**
 * ============================================================================
 * File: groundwork.css
 * Description: Centralized stylesheet for global and reusable styles across
 *              the project. This file contains foundational styles that are
 *              shared among various apps and components for consistency.
 * Author: JohnF
 * Created: 2024-08-23 17:11
 * Last Updated: 2024-08-25 12:28 - Minor adjustments and refinements
 * Version: 1.0
 * 
 * Usage Notes:
 * - This file is for global styles that apply across multiple apps and
 *   components. Use it for styles that should be consistent throughout
 *   the project.
 * - For styles specific to individual apps or components, use app-styles.css
 *   or other relevant CSS files.
 * - Organize styles logically, such as by base elements, typography,
 *   layout, etc.
 * 
 * ============================================================================
 */

/******************************************************************************
 ROOT
******************************************************************************/

@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /*********
  TYPOGRAPHY
  *********/
  --fontSerif: "Literata", serif;
  --fontSans: "Montserrat", sans-serif;
  --fontMono: "Source Code Pro", monospace;
  /** 
  Groundwork font sizes follow a modular scale of Perfect Fourth. 
  @see https://alistapart.com/article/more-meaningful-typography/
  @see https://www.musictheoryacademy.com/understanding-music/intervals/perfect-fourth/
  */

  --fontM: 1.5rem; /* Base font-size */

  --fontL: 1.999rem;
  --fontXl: 2.665rem;
  --fontXxl: 3.553rem;
  --fontXxxl: 4.736rem;

  --fontS: 1.125rem;
  --fontXs: 0.844rem;
  --fontXxs: 0.633rem;
  --fontXxxs: 0.475rem;

  --sizeM: 1.5rem; /* Same as base font-size */
  --sizeL: 2.25rem; /* Base font-size * 1.5 */
  --sizeXl: 3rem; /* Base font-size * 2 */
  --sizeXxl: 4.5rem; /* Base font-size * 3 */
  --sizeXxxl: 6rem; /* Base font-size * 4 */
  --sizeS: 1rem; /* Base font-size / 1.5 */
  --sizeXs: 0.75rem; /* Base font-size / 2 */
  --sizeXxs: 0.5rem; /* Base font-size / 3 */
  --sizeXxxs: 0.375rem; /* Base font-size / 4 */
}

/**
1. Setting the HTML font-size to 62.5% simplifies calculations when using rem units. This is because it converts the default browser font-size of 16px to 10px, making it easier to work with.
2. **norm** Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size */
html {
  font-size: 62.5%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2*/
  -moz-tab-size: 4; /* 3*/
  tab-size: 4; /* 3 */
  overflow-x: hidden;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
}

/* 
'border-box' follows an intuitive box model where the outer dimensions (width and height) represent the entire box. Padding and border are subtracted from the available space in the content area so it maintains a uniform sizing behavior for all elements.
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/******************************************************************************
 SECTIONS
******************************************************************************/

/**
1. In rem units. See html#1.
2. For the imported Google fonts.
3. Remove the margin in all browsers.
*/
body {
  font-family: var(--fontSerif);
  font-size: var(--fontM); /* 1 */
  font-optical-sizing: auto; /* 2 */
  font-weight: 400; /* 2 */
  font-style: normal; /* 2 */
  line-height: 1.5;
  margin: 0; /* 3 */
}

section,
nav,
article,
aside,
header,
footer,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontSans);
  line-height: 1.2;
  margin: var(--sizeL) 0 var(--sizeXs);
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: var(--fontXxl);
  .block-page-title-block & {
    line-height: 1;
    margin: 0 0 var(--fontM) 0;
  }
}

h2 {
  font-size: var(--fontXl);
  &.block__title {
    font-size: var(--fontL);
    margin: 0 0 var(--fontS) 0;
  }
}

h3 {
  font-size: var(--fontL);
}

h4,
h5,
h6 {
  font-weight: 700;
}

h4 {
  font-size: var(--fontL);
}

h5,
h6 {
  font-size: var(--fontM);
}

h5 {
  border-bottom: 0.1rem solid;
}

h6 {
  border-bottom: 0.1rem dotted;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: var(--fontXxl);
  }
  h2 {
    font-size: var(--fontXl);
  }
  h2.block__title {
    font-size: var(--fontM);
    margin: 0 0 0.8rem 0;
  }
  h3 {
    font-size: var(--fontL);
  }
  h4,
  h5,
  h6 {
    font-size: var(--fontM);
  }
}

/******************************************************************************
 GROUPING CONTENT
******************************************************************************/

p {
  margin-top: 0;
}

/**
1. **norm** Add the correct height in Firefox.
2. **norm** Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  display: block;
  height: 0.1rem;
  margin: 1.5rem 0;
  padding: 0;
  border: 0;
  border-top: 0.1rem solid;
  color: inherit; /* **norm** Correct the inheritance of border color in Firefox. */
  overflow: visible;
  box-sizing: content-box;
}

pre {
  font-family: var(--fontMono);
  font-size: 1em; /* **norm** Correct the odd 'em' font sizing in all browsers. */
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul,
ol {
  padding-left: var(--sizeM);
}

ul li,
ol li {
  list-style-position: inside;
}

li a.active {
  color: inherit;
}

dt {
  font-family: var(--fontSerif);
  font-weight: bold;
  float: left;
  clear: left;
  width: 12rem;
  text-align: right;
  letter-spacing: 0.1rem;
}

dt::after {
  content: ":";
}

dd {
  margin: 0 0 0 12.4rem;
  padding: 0 0 0.8rem 0;
}

figure,
figcaption {
  display: block;
}

figure {
  margin: 1em 40px;
}

[hidden],
template {
  display: none;
}

/******************************************************************************
 TEXT-LEVEL SEMANTICS
******************************************************************************/

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-text-decoration-skip: objects;
  &:active,
  &:hover {
    outline-width: 0;
  }
  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: 75%;
}

dfn {
  font-style: italic;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; /* **norm** Add the correct text decoration in Chrome, Edge, and Safari. */
  border-bottom: none;
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Edge and Safari. */
}

mark {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255) f00;
}

code,
samp,
kbd {
  font-family: var(--fontMono);
  font-size: 1em; /* **norm** Correct the odd 'em' font sizing in all browsers. */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/******************************************************************************
 EMBEDDED CONTENT
******************************************************************************/

canvas,
iframe,
video,
audio,
img,
svg {
  vertical-align: middle;
}

canvas,
video,
audio {
  display: inline-block;
}

canvas {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  border-style: none;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

/******************************************************************************
 TABULAR DATA
******************************************************************************/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/******************************************************************************
 FORMS
******************************************************************************/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

fieldset {
  margin: 0 2px;
  padding: 0;
  border-width: 0;
}

legend,
label {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 0.5em;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0; /* **norm** Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers. */
  white-space: normal;
  color: inherit;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0;
}

input,
button {
  overflow: visible;
  line-height: 1.8;
  margin: 0 0 1em;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  box-sizing: inherit;

  height: 3.4rem;
  margin-bottom: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.38);
  border-radius: 0.4rem;
  border-color: rgba(0, 0, 0, 0.38);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
  outline: 0;
  &:focus {
    border-color: rgba(0, 0, 0, 0.38);
    outline: 0;
  }
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="checkbox"],
[type="radio"] {
  margin: 0 0.5em;
  padding: 0;
  display: inline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

button,
select {
  text-transform: none; /* **norm** Remove the inheritance of text transform in Edge and Firefox. */
}

select,
textarea {
  box-sizing: inherit;
  width: 100%;
  height: auto;
  min-height: 3.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.38);
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
  &:focus {
    border-color: rgba(0, 0, 0, 0.38);
    outline: 0;
  }
}

/*
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

optgroup {
  font-weight: bold;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  min-height: 6.5rem;
  margin-bottom: 1em;
}

progress {
  vertical-align: baseline; /* **norm** Add the correct vertical alignment in Chrome and Firefox. */
  display: inline-block;
}

/******************************************************************************
 INTERACTIVE ELEMENTS
******************************************************************************/

details {
  display: block;
  margin-top: var(--sizeM);
  margin-bottom: var(--sizeM);
  border: 0.1rem solid rgba(0, 0, 0, 0.12);
}

details > .details-wrapper {
  padding: var(--fontXs) var(--sizeL);
}

summary {
  font-size: var(--fontM);
  font-weight: 700;
  padding: var(--sizeXxs) var(--sizeXs);
  cursor: pointer;
  display: list-item; /* **norm** Add the correct display in Chrome and Safari. */
}

summary,
menu {
  display: block;
}
